@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons


<SfCard ID="BasicCard" class="e-card">
    <CardHeader Title="Filtros de Consulta" />
    <CardContent>
        <div class="container">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">Desde</div>
                <div class="col-sm">Hasta</div>
                <div class="col-sm"></div>
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <div id="datepicker-control">
                        <SfDatePicker TValue="DateTime?" Value="@fecact" Placeholder="Choose a Date"></SfDatePicker>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="datepicker-control">
                        <SfDatePicker TValue="DateTime?" Value="@fecact" Placeholder="Choose a Date"></SfDatePicker>
                    </div>
                </div>
                <div class="col-sm"></div>
            </div>
            <div class="row">
                <div class="col-sm">-</div>
                <div class="col-sm">-</div>
                <div class="col-sm">-</div>
                <div class="col-sm">-</div>
            </div>
            <div class="row">
                <div class="col-sm">-</div>
                <div class="col-sm">-</div>
                <div class="col-sm">-</div>
                <div class="col-sm">-</div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
                </div>
                <div class="col-sm">
                    <SfButton IsPrimary="true" @onclick="ClickEvent">Consultar</SfButton>
                </div>
                <div class="col-sm">
                    <SfButton IsPrimary="true">Salir</SfButton>
                </div>
                <div class="col-sm">
                    <p>Current count: @currentCount</p>
                </div>
            </div>
        </div>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>

@code {

    DateTime fecact = DateTime.Now;
    private readonly IJSRuntime JsRuntime;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        Console.WriteLine("hooo my good");
    }

    private async void ClickEvent(MouseEventArgs args)
    {
        try
        {
            currentCount++;
            Console.WriteLine("click xd");
            await this.JsRuntime.InvokeVoidAsync("console.log", "xdxdxd");

        }
        catch (Exception e)
        {
            Console.WriteLine("error en el click:"+e);
        }
    }


}
<style>
    .e-card {
        margin: auto;
        width: 50%
    }
</style>


 